[submodule "hooks/cloudflare"]
	path = hooks/cloudflare
	url = git@github.com:kappataumu/letsencrypt-cloudflare-hook.git
[submodule "dehydrated"]
	path = dehydrated
	url = git@github.com:lukas2511/dehydrated.git
